dtd/dtd.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT action (personnages,terminuspostquem,terminusantequem,
                  reference)>
<!ELEMENT personnages (personnage)+>
<!ELEMENT terminuspostquem (acte,scene)>
<!ELEMENT terminusantequem (acte,scene)>
<!ELEMENT reference (vers)+>
<!ELEMENT personnage (#PCDATA)>
<!ELEMENT vers (#PCDATA)>
<!ELEMENT acte (#PCDATA)>
<!ELEMENT scene (#PCDATA)>