dtd/edf.rnc

default namespace = ""
start =
  element action {
    element personnages {
      element personnage { xsd:NCName }+
    },
    element  { acte, scene },
    element terminusantequem { acte, scene },
    element reference {
      element vers { xsd:integer }+
    }
  }
acte = element acte { xsd:integer }
scene = element scene { xsd:integer } 
